*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    background-color: #fff;
}

#container{
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    float: left;
}

#cabecalho{
    width: 100%;
    height: 160px;
    margin-top: 0;
    margin-left: 0;
    float: left;
}

#nav{
    width: 100%;
    height: 70px;
    margin-top: 0;
    margin-left: 0; 
    margin-bottom: 0;
    float: left;
    position: fixed;
    z-index: 9999;    
    border-bottom: solid 20px #333333;
}

#img-logo{
    height: 90px;
    width: 90px;
    margin-top: 0px;    
    margin-left: 50px;    
    float: left;
    background-color: #fff;
}

#logo{
    height: 90px;
    width: 90px;
    margin-top: 0px;    
    margin-left: 0px;    
    float: left;    
}

#menu{
    height: 90px;
    margin-top: 0px;    
    margin-left: 0px;
    float: left;
}

#menu, #menu ul, #menu ul li, #menu ul li a, #menu #menu-button{
    padding: 0;
    border: 0;  
    display: block;  
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    font-family: Century Gothic;
    line-height: 1;
}

#menu #menu-button{
    display: none;   
}

#menu-line{
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    background: #333333;
    -webkit-transition: all 0.30s ease-out;
    -moz-transition: all 0.30s ease-out;
    -ms-transition: all 0.30s ease-out;
    -o-transition: all 0.30s ease-out;
    transition: all 0.30s ease-out;
}

#menu ul{ 
    padding-top: 28px;
}

#menu ul li{  
    float: left; 
}

#menu.align-right ul ul{
    text-align: right;
}

#menu ul li a{    
    padding: 0 20px 0 20px;
    font-size: 10pt;
    font-weight: bold;
    font-family: century gothic;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    padding-bottom: 2px;
}

#menu ul li a:hover{
    color: lightgray;
}

#menu ul li.sub a{
    padding-right: 25px;
}

#menu ul ul{ 
    position: absolute;
    left: 9999px;
}

#menu li:hover ul{ 
    left: auto;
}

#menu ul ul li{       
    -webkit-transition: height .2s ease;
    -moz-transition: height .2s ease;
    -ms-transition: height .2s ease;
    -o-transition: height .2s ease;
    transition: height .2s ease;
}

#menu ul ul li a{
    width: 160px;
    font-size: 12px;
    text-decoration: none;    
    color: #E0E0E0;
    text-transform: uppercase;
    padding: 8px 10px;    
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    background-color: #333;
}

#menu ul ul li a:hover{
    color: #ffffff;
    background-color: #5E5E5E;  
}

#menu ul li ul li{    
    display: block;
    position: relative;
}

#menu ul li a img{
    width: 30px;
    height: 30px;   
    margin-top: -6px;
    margin-right: 5px;
    float: left;
}

#busca{ 
    width: 200px;
    height: 30px;
    margin-top: 20px;
    margin-right: 5px;
    float: right;
}

#busca #search input{  
    height: 30px;
    width: 60px;
    float: right;
    border: none;
    color: #333333;              
    -webkit-transition: all 0.7s ease 0s;     
    -moz-transition: all 0.7s ease 0s;    
    -o-transition: all 0.7s ease 0s;     
    transition: all 0.7s ease 0s;    
    border-radius: 15px 0 0 15px;
}  

#busca #search input:focus{
    width: 160px;     
    padding-left: 10px;
} 

#navReduzido{
    width: 100%;
    height: 40px;
    margin-top: 0;
    margin-left: 0; 
    margin-bottom: 100px;
    float: left;
    position: fixed;
    z-index: 9999; 
    display: none;
}

#imgMiniLogo{
    height: 40px;
    width: 40px;
    margin-top: 0px;    
    margin-left: 50px;    
    float: left;
    background-color: #fff;
}

#miniLogo{
    height: 40px;
    width: 40px;
    margin-top: 0px;    
    margin-left: 0px;    
    float: left;    
}

#menuReduzido{
    height: 40px;
    margin-top: 0px;    
    margin-left: 0px;
    float: left;
}

#menuReduzido, #menuReduzido ul, #menuReduzido ul li, #menuReduzido ul li a, #menuReduzido #menuReduzido-button{
    padding: 0;
    border: 0;  
    display: block;  
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    font-family: Century Gothic;
    line-height: 1;
}

#menuReduzido #menuReduzido-button{
    display: none;   
}

#menuReduzido-line{
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    background: #333333;
    -webkit-transition: all 0.30s ease-out;
    -moz-transition: all 0.30s ease-out;
    -ms-transition: all 0.30s ease-out;
    -o-transition: all 0.30s ease-out;
    transition: all 0.30s ease-out;
}

#menuReduzido ul{ 
    padding-top: 12px;
}

#menuReduzido ul li{  
    float: left; 
}

#menuReduzido.align-right ul ul{
    text-align: right;
}

#menuReduzido ul li a{    
    padding: 0 20px 0 20px;
    font-size: 10pt;
    font-weight: bold;
    font-family: century gothic;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    padding-bottom: 2px;
}

#menuReduzido ul li a:hover{
    color: lightgray;
}

#menuReduzido ul li.sub a{
    padding-right: 25px;
}

#menuReduzido ul ul{ 
    position: absolute;
    left: 9999px;
}

#menuReduzido li:hover ul{ 
    left: auto;
}

#menuReduzido ul ul li{       
    -webkit-transition: height .2s ease;
    -moz-transition: height .2s ease;
    -ms-transition: height .2s ease;
    -o-transition: height .2s ease;
    transition: height .2s ease;
}

#menuReduzido ul ul li a{
    width: 160px;
    font-size: 12px;
    text-decoration: none;    
    color: #E0E0E0;
    text-transform: uppercase;
    padding: 8px 10px;    
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    background-color: #333;
}

#menuReduzido ul ul li a:hover{
    color: #ffffff;
    background-color: #5E5E5E;  
}

#menuReduzido ul li ul li{    
    display: block;
    position: relative;
}

#menuReduzido ul li a img{
    width: 30px;
    height: 30px;
    margin-top: -7px;
}

#buscaReduzido{ 
    width: 200px;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    float: right;
}

#buscaReduzido #search input{  
    height: 30px;
    width: 60px;
    float: right;
    border: none;
    color: #333333;              
    -webkit-transition: all 0.7s ease 0s;     
    -moz-transition: all 0.7s ease 0s;    
    -o-transition: all 0.7s ease 0s;     
    transition: all 0.7s ease 0s;    
    border-radius: 15px 0 0 15px;
}  

#buscaReduzido #search input:focus{
    width: 160px;     
    padding-left: 10px;
} 

#imagemBusca{
    width: 30px;
    height: 30px;    
    margin-top: 0;
    margin-left: 0;
    float: right;
    border-radius: 0 15px 15px 0;
}

#propaganda1{
    width: 800px;
    height: 100px;
    margin-top: 100px;
    margin-left: 250px;
    float: left;    
    background-color: #fff; 
}

#iconesSociais{
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-right: 5px;
    float: right;
}

#iconesSociais img{
    width: 30px;
    height: 30px;
}

#iconesSociaisReduzido{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    float: right;
}

#iconesSociaisReduzido img{
    width: 30px;
    height: 30px;
}

#article{
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-left: 0;
    margin-bottom: 60px;
    float: left;
}

#logar{
    width: 280px;
    height: 140px;    
    margin-top: 90px;
    margin-right: 20px;
    float: right;    
    font-family: Century Gothic;
    color: #ffffff;      
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 0 0 5px 5px;
    background-color: #333333; 
}

#botaoLogin{
    margin-right: 5px;
    float: right;
    color: #fff;
    border: 0;
    cursor: pointer;
}

#login a{
    margin-top: 5px;
    margin-left: 5px;
    font-family: Century Gothic;
    color: #ffffff;      
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none; 
}

#login a:hover{
    text-decoration: underline;
}

#login input{
    width: 120px;
    margin-right: 5px;
    float: right;
}

.imgUsuario{
    width: 50px;
    height: 50px;
    margin-left: 5px;    
    margin-right: 5px;
    float: left;
    background-color: #fff;
}

#galeria{
    width: 1000px;
    height: 500px;
    margin-top: 40px;
    margin-left: 12.5%;
    margin-bottom: 50px;
    float: left;
    box-shadow: 0 0 0 10px #333333;
}

#slide{
    width: 1000px;
    height: 500px;
    margin-top: -20px;
    margin-left: 0;
    float: left;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

#descricaoSlide{
    width: 100%;
    height: 70px;
    margin-left: 0px;
    background-color: #383838;
    font-family: century gothic;
    color: #fff;
    font-size: 12pt;
    line-height: 16pt;
    position: absolute;
    bottom: 0;
    float: left;
    margin-top: 50px;
    
}

#botoesGaleria{
    width: 1000px;
    height: 40px;
    margin-top: 225px;    
    margin-left: 0;    
    float: left;
    position: relative;
    z-index: 2; 
}

#botoesGaleria a{   
    width: 40px;
    opacity: 0.4;    
    -webkit-transition: all 0.7s ease 0s;     
    -moz-transition: all 0.7s ease 0s;    
    -o-transition: all 0.7s ease 0s;     
    transition: all 0.7s ease 0s;
}

#botoesGaleria a:hover{
    opacity: 1;
    -webkit-transition: all 0.7s ease 0s;     
    -moz-transition: all 0.7s ease 0s;    
    -o-transition: all 0.7s ease 0s;     
    transition: all 0.7s ease 0s;
}

#botoesGaleria a img{
    width: 30px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
}

#next{
    width: 50px;
    height: 50px;
    margin-top: 0;
    margin-right: 0;
    float: right;
}

#prev{
    width: 50px;
    height: 50px;
    margin-top: 0;
    margin-left: 0;
    float: left;
}

.imgGaleria{
    width: 1000px;
    height: 500px;
}

#section{
    width: 90%;
    height: auto;
    margin-top: 50px;
    margin-left: 5%;
    margin-bottom: 30px;
    float: left;
    background-color: black;
}

#materias{
    width: 820px;
    height: auto;
    margin-top: 0;
    margin-left: 7%;
    float: left;    
    background-color: #fff;
    box-shadow: 5px 5px 0px 0px #333;
}

#materias h1{
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 50px;
    font-family: century gothic;
    font-size: 16pt;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
}

#descricaoImagem h3 {
    margin-top: 40%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30%;
    font-family: impact;
    text-transform: uppercase;
    font-size: 15pt;
    line-height: 16pt;
    color: #fff;
    text-align: center;
    letter-spacing: 1pt;
    font-weight: lighter;
    opacity: 1;
}

.materiaPrincipal{
    width: 760px;
    height: 400px;
    margin-top: 40px;
    margin-left: 22px;
    float: left;    
    border: solid 5px #333;
}

.materiaPrincipal img{
    width: 760px;
    height: 400px;
}

#descricaoImagemPrincipal{
    width: 760px;
    height: 400px;
    margin-top: 0;
    background-color: #000;
    z-index: 3;
    position: absolute;
    opacity: 0.6;    
    -webkit-transition: all 0.7s ease 0s;     
    -moz-transition: all 0.7s ease 0s;    
    -o-transition: all 0.7s ease 0s;     
    transition: all 0.7s ease 0s;
}

#descricaoImagemPrincipal:hover{
    opacity: 0.9;
    -webkit-transition: all 0.7s ease 0s;     
    -moz-transition: all 0.7s ease 0s;    
    -o-transition: all 0.7s ease 0s;     
    transition: all 0.7s ease 0s;
}

#descricaoImagemPrincipal p{
    margin-top: 25%;
    margin-left: 5px;
    margin-bottom: 25%;
    font-family: impact;
    text-transform: uppercase;
    font-size: 14pt;
    line-height: 20pt;
    color: #fff;  
    text-align: center;
}

#materiasPequenas{
    width: 820px;
    height: auto;
    margin-top: 40px;
    margin-left: 0px;
    float: left;
}

.materias{
    width: 230px;
    height: 210px;
    margin-top: 0;
    margin-left: 24px;
    margin-bottom: 40px;
    float: left;
    z-index: 2;
    border: solid 5px #333;
}

.materias img{
    width: 230px;
    height: 210px;
}

#descricaoImagem{
    width: 230px;    
    height: 210px;
    margin-top: 0;
    background-color: #000;
    z-index: 3;
    position: absolute;
    opacity: 0.6;
    -webkit-transition: all 0.7s ease 0s;     
    -moz-transition: all 0.7s ease 0s;    
    -o-transition: all 0.7s ease 0s;     
    transition: all 0.7s ease 0s;
}

#descricaoImagem:hover{
    opacity: 0.9;
    -webkit-transition: all 0.7s ease 0s;     
    -moz-transition: all 0.7s ease 0s;    
    -o-transition: all 0.7s ease 0s;     
    transition: all 0.7s ease 0s;
}

#descricaoImagem p{
    margin-top: 30%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30%;
    font-family: impact;
    text-transform: uppercase;
    font-size: 10pt;
    line-height: 16pt;
    color: #fff;
    text-align: center;
    opacity: 1;
}

   #aside1{
    width:285px;
    height: auto;
    float:left;
    margin-top:0px;
    margin-left:50px;
    box-shadow: 5px 5px 0px 0px #333;
    
}
.materiaAside{
    width:270px;
    height: 110px;
    float:left;
    margin-top:40px;
    margin-left:5px;

}
.imagemMateriasAside{
    width:270px;
    height: 110px;
    float:left;
    margin-top:-112px;
    margin-left:0px;
}
.textoAsideMateria{
    width:270px;
    height: 110px;
    float:left;
    margin-top:0px;
    margin-left:0px;
}



.descricaoMateriaAside{
    width: 270px;
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
    float: left;
    background-color: #000;
    opacity: 0.6;
    -webkit-transition: all 0.7s ease 0s;     
    -moz-transition: all 0.7s ease 0s;    
    -o-transition: all 0.7s ease 0s;     
    transition: all 0.7s ease 0s;
    z-index: 2;
    position: relative;
}

.descricaoMateriaAside:hover{   
    opacity: 0.9;
    -webkit-transition: all 0.7s ease 0s;     
    -moz-transition: all 0.7s ease 0s;    
    -o-transition: all 0.7s ease 0s;     
    transition: all 0.7s ease 0s;    
}

.descricaoMateriaAside p{
    margin-top: 16%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 12%;
    font-family: impact;
    font-weight: initial;
    text-transform: uppercase;
    text-spacing: space-adjacent;
    font-size: 12pt;
    line-height: 15pt;
    color: #fff;  
    text-align: center;
}
.imagemMateriaAside{
    width: 100%;
    height: 100%;
    margin-top: -125px;
    margin-left: 0;
    float: left;
    z-index: 1;    
    position: relative;
}

#voltarTopo{
    width: 100px;
    height: 60px;
    right: 5px;
    bottom: 5px;   
    position: fixed;
}

#voltarTopo img{
    width: 40px;
    height: 40px;
    margin-top: 0;
    margin-left: 30px;
}

#voltarTopo a{
    width: 100px;
    height: 100px;
    font-family: century gothic;
    font-size: 8pt;
    font-weight: bold;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.subir{
    display: none;
}

#area1{
    width: 1000px;
    height: auto;
    margin-top: 0;
    margin-left: 12.5%;
    margin-bottom: 50px;
    float: left;    
    background-color: #fff;
    box-shadow: 5px 5px 0px 0px #333;
}

#area1 a{ 
    margin-left: 5px;
    margin-bottom: 10px;
    font-family: century gothic;
    font-size: 11pt;
    color: #000;
    text-decoration: none;    
}

#area1 a:hover{ 
    text-decoration: underline;    
}

#area1 #entrar h1, #area1 #cadastrar h1{
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 50px;
    font-family: century gothic;
    font-size: 16pt;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    background-color: #00989E;
}

#entrarForm{
    width: 440px;
    height: auto;
    margin-top: 25%;
    margin-left: 1.3%;
    margin-bottom: 50px;
    float: left;    
    background-color: #E0E0E0;
    border-radius: 5px;
}

#cadastrarForm{
    width: 440px;
    height: auto;
    margin-top: 5%;
    margin-left: 1.3%;
    margin-bottom: 50px;
    float: left;    
    background-color: #E0E0E0;    
    border-radius: 5px;
}

#area1 #entrar p{    
    margin-top: 5px;
    float: left;
    font-family: century gothic;
    font-size: 14pt;
    color: #333;
    text-align: center;
    text-transform: uppercase;
}

#area1 #cadastrar p{
    margin-top: 5px;
    float: left;
    font-family: century gothic;
    font-size: 13pt;
    color: #333;
    text-align: center;
    text-transform: uppercase;
}

#campos{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;  
}

.campos{
    width: 230px;
    height: 30px;
    margin-right: 10px;
    float: right;     
    font-family: century gothic;
    font-size: 14pt;
    color: #333;
}

.campoCaptcha{
    width: 230px;
    height: 30px;
    margin-left: 195px;
    margin-top: -40px;
    float: left;     
    font-family: century gothic;
    font-size: 14pt;
    color: #333;
}

.botaoForm{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-left: 5px; 
    margin-bottom: 10px;
    font-family: century gothic;
    font-size: 14pt;
    color: #fff;
    background-color: #00989E;
    border: 0;
    cursor: pointer;
}

#termos{
    margin-left: -118px;
}

#entrar, #cadastrar{
    width: 450px;
    height: 600px;
    margin-top: 50px;
    margin-left: 35px;
    margin-bottom: 50px;
    float: left;       
    box-shadow: 0 0 0 5px #333;    
}

#integrantes h1{
    font-family: century gothic;
    font-size: 16pt;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    background-color: #00989E;
}

#integrantes h2{
    font-family: century gothic;
    font-size: 12pt;
    color: #000;
    text-align: center;
    font-weight: normal;
}

#integrantes{
    width: 1000px;
    height: 1100px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    float: left;      
}

.integrante{
    width: 400px;
    height: 180px;
    margin-top: 20px;
    margin-left: 65px;
    float: left;
    background-color: #00989E;    
    box-shadow: 5px 5px 5px 0 #333;
}

.integrante img{
    width: 130px;
    height: 130px;    
    margin-top: 10px;
    margin-left: 135px;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px 0 #333;    
}

.integrante p{
    margin-bottom: 10px;
    font-family: century gothic;
    font-size: 12pt;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

#contato{
    width: 1000px;
    height: auto;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 50px;
    float: left;       
}

#contato h1{
    font-family: century gothic;
    font-size: 16pt;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    background-color: #00989E;
}

#contato h2{
    font-family: century gothic;
    font-size: 12pt;
    color: #000;
    text-align: center;
    font-weight: normal;
}

#formularioContato{
    width: 620px;
    height: auto;
    margin-top: 50px;
    margin-left: 190px;
    margin-bottom: 50px;
    float: left;       
    box-shadow: 0 0 0 5px #333;
}

#contatoForm{
    width: 600px;
    height: auto;
    margin-top: 5%;
    margin-left: 1.3%;
    margin-bottom: 50px;
    float: left;    
    background-color: #E0E0E0;    
    border-radius: 5px;
}

#contatoForm p{
    margin-top: 5px;
    float: left;
    font-family: century gothic;
    font-size: 13pt;
    color: #333;
    text-align: center;
    text-transform: uppercase;
}

#campoMensagem{    
    width: 100%;
    height: 200px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}

#mensagem{
    width: 450px;
    height: 200px;    
    margin-right: 10px;
    float: right;
    font-family: century gothic;
    font-size: 14pt;
    color: #333;
}

#escreva{
    width: 1000px;
    height: auto;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 50px;
    float: left;       
}

#escreva h1{
    font-family: century gothic;
    font-size: 16pt;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    background-color: #00989E;
}

#escreva h2{
    font-family: century gothic;
    font-size: 12pt;
    color: #000;
    text-align: center;
    font-weight: normal;
}

#formularioEscreva{
    width: 620px;
    height: 300px;
    margin-top: 50px;
    margin-left: 190px;
    margin-bottom: 50px;
    float: left;       
    box-shadow: 0 0 0 5px #333;
}

#escrevaForm{
    width: 600px;
    height: 200px;
    margin-top: 5%;
    margin-left: 1.3%;
    margin-bottom: 50px;
    float: left;    
    background-color: #E0E0E0;    
    border-radius: 5px;
}

#escrevaForm p{
    margin-top: 5px;
    float: left;
    font-family: century gothic;
    font-size: 13pt;
    color: #333;
    text-align: center;
    text-transform: uppercase;
}

.campoEscreva{
    height: 30px;
    margin-left: 80px;
    float: left;     
    font-family: century gothic;
    font-size: 14pt;
    color: #333;
}

#escrevaMensagem{    
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.materiasPersonagem{
    width: 230px;
    height: 210px;
    margin-top: 0;
    margin-left: 24px;
    margin-bottom: 40px;
    float: left;
    z-index: 2;    
    border: solid 5px #333;
}

.imagemPersonagem1{
    height: 180px;
    margin-left: 22%;
    float: left;
    z-index: 2;
    position: relative;
    opacity: 2;    
    -webkit-transition: all 0.7s ease 0s;     
    -moz-transition: all 0.7s ease 0s;    
    -o-transition: all 0.7s ease 0s;     
    transition: all 0.7s ease 0s; 
}

.imagemPersonagem1:hover{
    opacity: 0;
    -webkit-transition: all 0.7s ease 0s;     
    -moz-transition: all 0.7s ease 0s;    
    -o-transition: all 0.7s ease 0s;     
    transition: all 0.7s ease 0s; 
}

.imagemPersonagem2{
    height: 180px;
    margin-top: -180px;
    margin-left: 22%;       
    float: left;
    z-index: 1;
    position: relative;
}

#descricaoPersonagem{
    width: 100%;
    height: 25px;
    margin-top: 5px; 
    float: left;    
    background-color: #333;
}

#descricaoPersonagem h3{
    font-family: century gothic;
    font-size: 12pt;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

#termosUso, #mapaSite{
    width: 960px;
    height: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 50px;
    float: left; 
}

#termosUso h1, #mapaSite h1{
    width: 990px;
    margin-left: -20px;
    margin-bottom: 30px;
    font-family: century gothic;
    font-size: 16pt;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    background-color: #00989E;
}

#termosUso h2, #mapaSite h2{
    font-family: century gothic;
    font-size: 14pt;
    color: #000;
    text-align: center;
    font-weight: bold;
}

#termosUso p{
    font-family: arial;
    font-size: 12pt;
    color: #000;
    text-align: left;
}

#mapaSite p{        
    margin-top: 30px;
    margin-bottom: 14px;
    font-family: century gothic;
    font-size: 12pt;
    color: #fff;
    text-align: left;
    font-weight: bold;
    padding: 5px;
    background-color: #00989E;
}

#mapaSite a{       
    margin-left: 10px;
    font-family: century gothic;
    font-size: 11pt;
    color: #000;
    text-align: left;
    text-transform: uppercase;
}

#botaoLogin{
    margin-right: 5px;
    float: right;
    color: #fff;
    border: 0;
    cursor: pointer;
}

#imgFooter{
    width: 100%;
    height: 110px;
    margin-top: 0;
    margin-left: 0;
    float: left; 
}

#imgFooter img{
    height: 110px;
    margin-top: 0;
    margin-left: 30%;
    margin-right: 30%;
    float: left;
}

#footer{
    width: 100%;
    height: 270px;
    margin-top: 0;
    margin-left: 0;
    float: left; 
    text-align: center;
    font-family: century gothic;
    font-size: 12pt; 
    border-top: solid 10px #8e8e8e;
    background-color: #777;
}

#footer a{
    text-decoration: none;
    color: #fff;
    font-family: century gothic;
    font-size: 10pt;
    line-height: 10pt;    
    font-style: italic;
}

#footer a:hover{
    text-decoration: underline;
}

#footerLeft{
    width: 320px;
    height: 245px;
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 55px;
    float: left;    
}

#textoRodape{
    width: 310px;
    height: 116px;
    margin-top: 0px;
    margin-left: 5px;
    float: left;    
    background-color: #fff;
    border: solid 5px #333;
}

#textoRodape p{
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    font-family: arial;
    font-size: 10pt;
    float: left;    
}

#logosRodape{
    width: 310px;
    height: 100px;
    margin-top: 20px;
    margin-left: 5px;
    float: left;    
}

#logosRodape img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;    
    background-color: #fff;
    box-shadow: 1px 1px 10px 0 #000;    
    border-radius: 6px;
}

#linksRodape{
    width: 560px;
    height: 245px;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
    float: left;
}

#tituloRodape{
    width: 100%;
    height: 30px;
    margin-top: 0;
    margin-bottom: 10px;  
    float: left;
    background-color: #333;
}

#tituloRodape img{
    width: 20px;
    height: 20px;     
    margin-left: 5px;    
    margin-right: 5px;
    float: left;
}

#tituloRodape h4{
    margin-top: 5px;
    font-family: century gothic;
    font-size: 11pt;
    color: #fff;
    line-height: 15pt;
    text-align: left;
}

.linksRodape{
    width: 130px;
    height: 240px;
    margin-top: 0;
    margin-left: 5px;
    float: left;
    color: #000;
    line-height: 17pt;    
    border: solid 2px #333;    
}

.figura_materia{
    width: 30%;
    height: 140px;
    float:left;
    margin-top:10px;
    margin-left:10px;
    border:1px solid black;
}
.imagem_miniatura_materia{
    width: 100%;
    height: 140px;
    float:left;
    margin-top:0px;
    margin-left:0px;
}
.texto_materia{
    width: 65%;
    height: 140px;
    float:left;
    margin-top:10px;
    margin-left:10px;
    border:1px solid black;
}

#name_materia{
    float:left;
    margin-top:70px;   
}
#busca_materia{
    float:left;
    border-radius:3px;
    margin-top:70px;
    margin-left:5px;
}
#frmCadastro{
    width: 50%;
    height: 320px;
    margin-top:  60px;
    margin-left: 25%;
    margin-bottom: 60px;
    float: left;
    border: solid #00989E 2px;
}
.vars{    
    margin-top: 6px;
    margin-left: 50px;
    font-family: century gothic;
    font-size: 15pt;  
    line-height: 20pt;
}
.validacoes{
    width: 30%;
    margin-top: 4px;
    float: right;
    height: 20px;
}
#captchaPalavra{
    margin-right:155px;
}
#captcha2{
    height: 40px;
    width: 150px;
    float: left;
}
#captcha{
    float: left;
    width: 100%;
    height: 40px;
}
#atualizarCaptcha{
    float:left;
    margin-left:20px;
    margin-top:15px;
    font-size:14pt;
    cursor: pointer;
}

#btnCad{
    float:left;
    margin-left:80px;
    
}
.btnCads{
    float:left;
    margin-left:20px;
    margin-top:20px;
    height:30px;
    color:#333;
    border-radius: 4px;
    width:20%;
    background-color:silver;
    cursor:pointer;
}
.btnCads:hover{
    color:white;
}
#msglogin{    
    width: 140px;
    height: 20px;
    margin-top: 2px;
    margin-left: 5px;
    float: left;
}

.msgloginE{
    font-family: century gothic;
    font-size: 10pt;
    color: chartreuse;
}

.msgloginF{
    font-family: century gothic;
    font-size: 8pt;
    color: red;
}

.foto_usuario{
    width: 70%;
    height: 30px;
    margin-left: 15px;
    float: left;
}
#imagem_usuario{
    width: 15%;
    height: 20px;
    margin-left: 0px;
    margin-left: 5px;
    margin-top: 15px;
    float: left;
}
#nome_adm{
    margin-left: 5px;
    margin-top: 17px;
    font-size: 10pt;
    font-family: century gothic;
    float: left;
}
.links_usuario{
    margin-left: 18px;
    margin-top: 30px;
    float: left;
}
.links_usuario a{
    font-size:12pt;
    font-family: century gothic;
    text-decoration: none;
    
    color:white;
}
.links_usuario a:hover{
color:#00989E;
}
#conteudo{
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-left: 0;
    margin-bottom: 60px;
    float: left;
}
#publicidade{
    width:800px;
    height:100px;
    margin-top:-65px;
    margin-left: 200px;
    float:left;
    border:1px solid black;
}



/*
#conteudo_materia{
    width: 100%;
    height: 1440px;
    float:left;
    margin-top:32px;
    margin-left:0px;
    box-shadow: 2px 2px 5px black;
    border:1px solid black;
}
#materia_conteudo{
    width:70%;
    height:1440px;
}
#titulo_materia{
    width:100%;
    height:40px;
    float:left;
    margin-left:0px;
    margin-top:0px;
}
.texto_titulo{
   text-align:center;
   font-size:12pt;
   margin-left:0px;
   margin-top:10px;
   font-family: cursive;
}
.imagem_materia{
    width:75%;
    height:300px;
    float:left;
    margin-top:40px;
    margin-left:85px;
}
.imagens{
    width:100%;
    height:300px;
    float:left;
    margin-top:0px;
    margin-left:0px;
}
.texto_materia2{
    width:90%;
    height:170px;
    float:left;
    margin-top:40px;
    margin-left:30px;
    font-size: 12pt;
    font-style: normal;
    text-align: justify;
}
#autor_materia{
    width:100%;
    height:170px;
    float:left;
    margin-top:120px;
    margin-left:0px;
}
.autor_comment{
    width:8%;
    height:50px;
    float:left;
    margin-top:10px;
    margin-left:20px;
    border:1px solid black;
}
.comentario_materia{
    width:70%;
    height:50px;
    border:1px solid black;
    float:left;
    margin-top:10px;
    margin-left:20px;
    font-size: 12pt;
    font-style: normal;
    text-align: justify;
}
.imagem_autor{
    width:20%;
    height:130px;
    float:left;
    margin-top:20px;
    margin-left:20px;
}
.imagem_autor2{
    width:100%;
    height:130px;
    float:left;
    margin-top:0px;
    margin-left:0px;
}
.texto_autor{
    width:70%;
    height:130px;
    border:1px solid black;
    float:left;
    margin-top:20px;
    margin-left:20px;
    font-size: 12pt;
    font-style: normal;
    text-align: justify;
}*/
.testeUsers{
    margin-left:20px;
    margin-top:10px;
}
#tag_rec{
    float:left;
    margin-left:380px;
    margin-top:40px;
    font-size:16pt;
    font-family: century gothic;
}
#tag_email_rec{
    float:left;
    margin-left:-240px;
    margin-top:60px;
    font-size:16pt;
    font-family: century gothic;
}
#rec_email{
    float:left;
    margin-left:-150px;
    margin-top:60px;
    font-size:12pt;
    font-family: century gothic;
}
#btnRec{
    float:left;
    margin-left:-170px;
    margin-top:90px;
    font-size:14pt;
    font-family: century gothic;
}
.senha_rec{
    float:left;
    margin-left:380px;
    margin-top:40px;
    font-size:16pt;
    font-family: century gothic;
}
#senha_rec{
    float:left;
    margin-left:-230px;
    margin-top:80px;
    font-size:16pt;
    font-family: century gothic;
}
#senha_reculperada{
    float:left;
    margin-left:-20px;
    margin-top:80px;
    font-size:16pt;
    font-weight: bold;
    font-family: century gothic;
}

#footer{
    width: 100%;
    height: 270px;
    margin-top: 0;
    margin-left: 0;
    float: left; 
    text-align: center;
    font-family: century gothic;
    font-size: 12pt; 
    border-top: solid 10px #8e8e8e;
    background-color: #777;
}

#footer a{
    text-decoration: none;
    color: #fff;
    font-family: century gothic;
    font-size: 10pt;
    line-height: 10pt;    
    font-style: italic;
}

#footer a:hover{
    text-decoration: underline;
}

#footerLeft{
    width: 320px;
    height: 245px;
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 55px;
    float: left;    
}

#textoRodape{
    width: 310px;
    height: 116px;
    margin-top: 0px;
    margin-left: 5px;
    float: left;    
    background-color: #fff;
    border: solid 5px #333;
}

#textoRodape p{
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    font-family: arial;
    font-size: 10pt;
    float: left;    
}

#logosRodape{
    width: 310px;
    height: 100px;
    margin-top: 20px;
    margin-left: 5px;
    float: left;    
}

#logosRodape img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;    
    background-color: #fff;
    box-shadow: 1px 1px 10px 0 #000;    
    border-radius: 6px;
}

#linksRodape{
    width: 560px;
    height: 245px;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
    float: left;
}

#tituloRodape{
    width: 100%;
    height: 30px;
    margin-top: 0;
    margin-bottom: 10px;  
    float: left;
    background-color: #333;
}

#tituloRodape img{
    width: 20px;
    height: 20px;     
    margin-left: 5px;    
    margin-right: 5px;
    float: left;
}

#tituloRodape h4{
    margin-top: 5px;
    font-family: century gothic;
    font-size: 11pt;
    color: #fff;
    line-height: 15pt;
    text-align: left;
}

.linksRodape{
    width: 130px;
    height: 240px;
    margin-top: 0;
    margin-left: 5px;
    float: left;
    color: #000;
    line-height: 17pt;    
    border: solid 2px #333;    
}