*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    background-color: #fff;
}

#container{
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    float: left;
}

#cabecalho{
    width: 100%;
    height: 450px;
    margin-top: 0;
    margin-left: 0;
    float: left;
    z-index: 10;
}

#nav{
    width: 100%;
    height: 70px;
    margin-top: 0;
    margin-left: 0; 
    margin-bottom: 0;
    float: left;
    position: fixed;
    z-index: 9999;    
    border-bottom: solid 20px #333333;
}

#img-logo{
    height: 90px;
    width: 90px;
    margin-top: 0px;    
    margin-left: 50px;    
    float: left;
    background-color: #fff;
}

#logo{
    height: 90px;
    width: 90px;
    margin-top: 0px;    
    margin-left: 0px;    
    float: left;    
}

#menu{
    height: 90px;
    margin-top: 0px;    
    margin-left: 0px;
    float: left;
}

#menu, #menu ul, #menu ul li, #menu ul li a, #menu #menu-button{
    padding: 0;
    border: 0;  
    display: block;  
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    font-family: Century Gothic;
    line-height: 1;
}

#menu #menu-button{
    display: none;   
}

#menu-line{
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    background: #333333;
    -webkit-transition: all 0.30s ease-out;
    -moz-transition: all 0.30s ease-out;
    -ms-transition: all 0.30s ease-out;
    -o-transition: all 0.30s ease-out;
    transition: all 0.30s ease-out;
}

#menu ul{ 
    padding-top: 28px;
}

#menu ul li{  
    float: left; 
}

#menu.align-right ul ul{
    text-align: right;
}

#menu ul li a{    
    padding: 0 20px 0 20px;
    font-size: 10pt;
    font-weight: bold;
    font-family: century gothic;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    padding-bottom: 2px;
}

#menu ul li a:hover{
    color: lightgray;
}

#menu ul li.sub a{
    padding-right: 25px;
}

#menu ul ul{ 
    position: absolute;
    left: 9999px;
}

#menu li:hover ul{ 
    left: auto;
}

#menu ul ul li{       
    -webkit-transition: height .2s ease;
    -moz-transition: height .2s ease;
    -ms-transition: height .2s ease;
    -o-transition: height .2s ease;
    transition: height .2s ease;
}

#menu ul ul li a{
    width: 160px;
    font-size: 12px;
    text-decoration: none;    
    color: #E0E0E0;
    text-transform: uppercase;
    padding: 8px 10px;    
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    background-color: #333;
}

#menu ul ul li a:hover{
    color: #ffffff;
    background-color: #5E5E5E;  
}

#menu ul li ul li{    
    display: block;
    position: relative;
}

#menu ul li a img{
    width: 30px;
    height: 30px;   
    margin-top: -6px;
    margin-right: 5px;
    float: left;
}

#busca{ 
    width: 200px;
    height: 30px;
    margin-top: 20px;
    margin-right: 5px;
    float: right;
}

#busca #search input{  
    height: 30px;
    width: 60px;
    float: right;
    border: none;
    color: #333333;              
    -webkit-transition: all 0.7s ease 0s;     
    -moz-transition: all 0.7s ease 0s;    
    -o-transition: all 0.7s ease 0s;     
    transition: all 0.7s ease 0s;    
    border-radius: 15px 0 0 15px;
}  

#busca #search input:focus{
    width: 160px;     
    padding-left: 10px;
} 

#navReduzido{
    width: 100%;
    height: 40px;
    margin-top: 0;
    margin-left: 0; 
    margin-bottom: 100px;
    float: left;
    position: fixed;
    z-index: 9999; 
    display: none;
}

#imgMiniLogo{
    height: 40px;
    width: 40px;
    margin-top: 0px;    
    margin-left: 50px;    
    float: left;
    background-color: #fff;
}

#miniLogo{
    height: 40px;
    width: 40px;
    margin-top: 0px;    
    margin-left: 0px;    
    float: left;    
}

#menuReduzido{
    height: 40px;
    margin-top: 0px;    
    margin-left: 0px;
    float: left;
}

#menuReduzido, #menuReduzido ul, #menuReduzido ul li, #menuReduzido ul li a, #menuReduzido #menuReduzido-button{
    padding: 0;
    border: 0;  
    display: block;  
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    font-family: Century Gothic;
    line-height: 1;
}

#menuReduzido #menuReduzido-button{
    display: none;   
}

#menuReduzido-line{
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    background: #333333;
    -webkit-transition: all 0.30s ease-out;
    -moz-transition: all 0.30s ease-out;
    -ms-transition: all 0.30s ease-out;
    -o-transition: all 0.30s ease-out;
    transition: all 0.30s ease-out;
}

#menuReduzido ul{ 
    padding-top: 12px;
}

#menuReduzido ul li{  
    float: left; 
}

#menuReduzido.align-right ul ul{
    text-align: right;
}

#menuReduzido ul li a{    
    padding: 0 20px 0 20px;
    font-size: 10pt;
    font-weight: bold;
    font-family: century gothic;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    padding-bottom: 2px;
}

#menuReduzido ul li a:hover{
    color: lightgray;
}

#menuReduzido ul li.sub a{
    padding-right: 25px;
}

#menuReduzido ul ul{ 
    position: absolute;
    left: 9999px;
}

#menuReduzido li:hover ul{ 
    left: auto;
}

#menuReduzido ul ul li{       
    -webkit-transition: height .2s ease;
    -moz-transition: height .2s ease;
    -ms-transition: height .2s ease;
    -o-transition: height .2s ease;
    transition: height .2s ease;
}

#menuReduzido ul ul li a{
    width: 160px;
    font-size: 12px;
    text-decoration: none;    
    color: #E0E0E0;
    text-transform: uppercase;
    padding: 8px 10px;    
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    background-color: #333;
}

#menuReduzido ul ul li a:hover{
    color: #ffffff;
    background-color: #5E5E5E;  
}

#menuReduzido ul li ul li{    
    display: block;
    position: relative;
}

#menuReduzido ul li a img{
    width: 30px;
    height: 30px;
    margin-top: -7px;
}

#buscaReduzido{ 
    width: 200px;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    float: right;
}

#buscaReduzido #search input{  
    height: 30px;
    width: 60px;
    float: right;
    border: none;
    color: #333333;              
    -webkit-transition: all 0.7s ease 0s;     
    -moz-transition: all 0.7s ease 0s;    
    -o-transition: all 0.7s ease 0s;     
    transition: all 0.7s ease 0s;    
    border-radius: 15px 0 0 15px;
}  

#buscaReduzido #search input:focus{
    width: 160px;     
    padding-left: 10px;
} 

#imagemBusca{
    width: 30px;
    height: 30px;    
    margin-top: 0;
    margin-left: 0;
    float: right;
    border-radius: 0 15px 15px 0;
}

#propaganda1{
    width: 800px;
    height: 100px;
    margin-top: 100px;
    margin-left: 250px;
    float: left;    
    background-color: #fff; 
}


#iconesSociais{
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-right: 5px;
    float: right;
}

#iconesSociais img{
    width: 30px;
    height: 30px;
}

#iconesSociaisReduzido{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    float: right;
}

#iconesSociaisReduzido img{
    width: 30px;
    height: 30px;
}


#logar{
    width: 280px;
    height: 130px;    
    margin-top: 90px;
    margin-right: 20px;
    float: right;  
    z-index: 3;  
    font-family: Century Gothic;
    color: #ffffff;      
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 0 0 5px 5px;
    background-color: #333333; 
}


#login a{
    font-family: Century Gothic;
    color: #ffffff;      
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
}

#login a{
    margin-left:20px;
}
#login a:hover{
    text-decoration: underline;
}

#login input{
    width: 120px;
    margin-right: 5px;
    float: right;
}
.btnLogin{
    float:left;
    width:200px;
}
.imgUsuario{
    width: 50px;
    height: 50px;
    margin-left: 5px;    
    margin-right: 5px;
    float: left;
    background-color: #fff;
}



.materias{
    width: 70%;
    height: 160px;
    float:left;
    margin-top:24px;
    margin-left:24px;
    border:1px solid black;
}
.figura_materia{
    width: 30%;
    height: 140px;
    float:left;
    margin-top:10px;
    margin-left:10px;
    border:1px solid black;
}
.imagem_miniatura_materia{
    width: 100%;
    height: 140px;
    float:left;
    margin-top:0px;
    margin-left:0px;
}
.texto_materia{
    width: 65%;
    height: 140px;
    float:left;
    margin-top:10px;
    margin-left:10px;
    border:1px solid black;
}
#busca{
    width: 30%;
    height: 40px;
    float:left;
    margin-top:10px;
    margin-left:10px;
}
#name_materia{
    float:left;
    margin-top:70px;   
}
#busca_materia{
    float:left;
    border-radius:3px;
    margin-top:70px;
    margin-left:5px;
}
#frmCadastro{
    width: 50%;
    height: 320px;
    margin-top:  60px;
    margin-left: 25%;
    margin-bottom: 60px;
    float: left;
    border: solid #00989E 2px;
}
.vars{    
    margin-top: 6px;
    margin-left: 50px;
    font-family: century gothic;
    font-size: 15pt;  
    line-height: 20pt;
}
.txts{
    float: right;
    height: 17px;
    margin-top: 4px;
    border-radius: 2px;
}
.validacoes{
    width: 30%;
    margin-top: 4px;
    float: right;
    height: 20px;
}
#captchaPalavra{
    margin-right:155px;
}
#captcha2{
    height: 40px;
    width: 25%;
    margin-top: 20px;
    margin-left: 50px;
    float: left;
}
#captcha{
    float: left;
    width: 100%;
    height: 40px;
}
#atualizarCaptcha{
    float:left;
    margin-left:75px;
    margin-top:15px;
    font-family: TimeNewROman;
    font-size:14pt;
    cursor: pointer;
}
#atualizarCaptcha:hover{
    color:wheat;
}
#btnCad{
    float:left;
    margin-left:80px;
    
}
.btnCads{
    float:left;
    margin-left:20px;
    margin-top:20px;
    height:30px;
    color:#333;
    border-radius: 4px;
    width:20%;
    background-color:silver;
    cursor:pointer;
}
.btnCads:hover{
    color:white;
}
#msglogin{
    float:left;
    margin-left:5px;
    width:140px;
    height:20px;
    margin-top:2px;
}
.msgloginE{
    color:chartreuse;
    font-size:10pt;
    font-family: cursive;
}
.msgloginF{
    color:red;
    font-size:8pt;
    font-family: cursive;
}
.foto_usuario{
    width:70%;
    height:30px;
    margin-left:15px;
    float:left;
}
#imagem_usuario{
    width:15%;
    height:20px;
    margin-left:0px;
    margin-left:5px;
    margin-top:15px;
    float:left;
}
#nome_adm{
    margin-left:5px;
    margin-top:17px;
    font-size:10pt;
    font-family: century gothic;
    float:left;
}
.links_usuario{
    margin-left:18px;
    margin-top:30px;
    float:left;
}
.links_usuario a{
    font-size:12pt;
    font-family: century gothic;
    text-decoration: none;
    
    color:white;
}
.links_usuario a:hover{
color:#00989E;
}

#imgFooter{
    width: 100%;
    height: 110px;
    margin-top: 0;
    margin-left: 0;
    float: left; 
}

#imgFooter img{
    height: 110px;
    margin-top: 0;
    margin-left: 30%;
    margin-right: 30%;
    float: left;
}

#footer{
    width: 100%;
    height: 270px;
    margin-top: 0;
    margin-left: 0;
    float: left; 
    text-align: center;
    font-family: century gothic;
    font-size: 12pt; 
    border-top: solid 10px #8e8e8e;
    background-color: #777;
}

#footer a{
    text-decoration: none;
    color: #fff;
    font-family: century gothic;
    font-size: 10pt;
    line-height: 10pt;    
    font-style: italic;
}

#footer a:hover{
    text-decoration: underline;
}

#footerLeft{
    width: 320px;
    height: 245px;
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 55px;
    float: left;    
}

#textoRodape{
    width: 310px;
    height: 116px;
    margin-top: 0px;
    margin-left: 5px;
    float: left;    
    background-color: #fff;
    border: solid 5px #333;
}

#textoRodape p{
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    font-family: arial;
    font-size: 10pt;
    float: left;    
}

#logosRodape{
    width: 310px;
    height: 100px;
    margin-top: 20px;
    margin-left: 5px;
    float: left;    
}

#logosRodape img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;    
    background-color: #fff;
    box-shadow: 1px 1px 10px 0 #000;    
    border-radius: 6px;
}

#linksRodape{
    width: 560px;
    height: 245px;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
    float: left;
}

#tituloRodape{
    width: 100%;
    height: 30px;
    margin-top: 0;
    margin-bottom: 10px;  
    float: left;
    background-color: #333;
}

#tituloRodape img{
    width: 20px;
    height: 20px;     
    margin-left: 5px;    
    margin-right: 5px;
    float: left;
}

#tituloRodape h4{
    margin-top: 5px;
    font-family: century gothic;
    font-size: 11pt;
    color: #fff;
    line-height: 15pt;
    text-align: left;
}

.linksRodape{
    width: 130px;
    height: 240px;
    margin-top: 0;
    margin-left: 5px;
    float: left;
    color: #000;
    line-height: 17pt;    
    border: solid 2px #333;    
}

#imgCapa{
    width: 100%;
    float: left;
    margin-left: 0px;
    margin-top: 0px;
    z-index: -5;
    position: absolute;
    

}
#imgFundo{
    width: 100%;
    height: 450px;
    float:right;
    margin-top:0px;
    margin-left:0px;
    z-index: 0;
}
#conteudo{
    width: 59%;
    height: auto;
    float:left;
    margin-left:140px;
    margin-top: 0px;
    background-color: #E0E0F8;
}
#imgPrincipal{
    width:400px;
    height:250px;
    margin-top: -60px;
    margin-left: 380px;
    float: left;  
    z-index: 1;
    position: absolute;
}
#imagemPrincipal{
    width:390px;
    height:240px;
    margin-left:5px;
    margin-top:5px
}
#tituloMateria{
    width: 100%;
    height: 100px;
    margin-top: 50px;
    margin-left: 0px;
    float: left;
    z-index: 0;
    position: relative;
}

#caixaTitulo{
    width: 365px;
    height: 90px;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
}

.editTitulo{
    margin-top: 20px;  
    font-family: century gothic;
    font-size: 16pt;
    color: #fff;    
    text-align: center;
}

#fundoDescricaoMateria{
    width: 100%;
    height: auto;
    float: left;
    background-color: red;
}

#descricaoMateria{
    width: 350px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;    
    float: left; 
    background-color: #005890;
}
.materiaAside{
    width: 285px;
    height: 110px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 30px;
    float: left;
    box-shadow: 0 0 0 2px #333;
}

.imagemMateriaAside{
    width: 100%;
    height: 100%;
    margin-top: -125px;
    margin-left: 0;
    float: left;
    z-index: 1;    
    position: relative;
}

.descricaoMateriaAside{
    width: 285px;
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
    float: left;
    background-color: #000;
    opacity: 0.6;
    -webkit-transition: all 0.7s ease 0s;     
    -moz-transition: all 0.7s ease 0s;    
    -o-transition: all 0.7s ease 0s;     
    transition: all 0.7s ease 0s;
    z-index: 2;
    position: relative;
}

.descricaoMateriaAside:hover{   
    opacity: 0.9;
    -webkit-transition: all 0.7s ease 0s;     
    -moz-transition: all 0.7s ease 0s;    
    -o-transition: all 0.7s ease 0s;     
    transition: all 0.7s ease 0s;    
}

.descricaoMateriaAside p{
    margin-top: 16%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 12%;
    font-family: impact;
    font-weight: initial;
    text-transform: uppercase;
    text-spacing: space-adjacent;
    font-size: 12pt;
    line-height: 15pt;
    color: #fff;  
    text-align: center;
}


#conteudo p{
    font-family: arial;
    font-size: 12pt;
    color: #000;
    margin-left: 6px;
    margin-right: 6px;
}

#conteudo h2{
    font-family: century gothic;
    font-size: 16pt;
    color: #000;
    text-align: center;
}

.editDescricao{
    margin-top: 10px;
}

.editPlataforma{
    margin-top: 10px;
}
.editDatalancamento{
    margin-top: 10px;
    margin-bottom: 10px;
}
#conteudoMateria, #conteudoMateria2{
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    float: left;
    background-color: blue;
}

.editTituloconteudo{
    font-size: 14pt;
    font-family: century gothic;
    margin-left:50px;
    margin-top:20px;
    float:left;
    width: 700px;
    height:60px;
    text-align: left;
}

.ediConteudoMateria{
    font-size: 14pt;
    font-family: century gothic;
    margin-left:50px;
    margin-top:100px;
    width: 700px;
    float:left;
    height:100px;
    text-align: left;
}

#galeriaImagens{
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    float:left;
    background-color: green;
}
.imagensGaleria{
    width: auto;
    height: auto;
    margin-left: 8px;
    margin-top: 0px;
    float: left;
    background-color: red;
}

.imagensGaleria img{
    float: left;
    width: 255px;
    height: 150px;
    margin-left:0px;
    margin-top:0px;
}

#galeriaVideo{
    width: 100%;
    height: 400px;
    margin-top: 0;
    margin-left: 0;
    float: left;
    background-color: red;
}

#galeriaVideo iframe{
    margin-top: 0px;
    margin-left: 0px;
    float: left;
}

#colunista{
    width: 100%;
    height: 150px;
    margin-top: 10px;
    margin-left: 0;
    float: left;
    background-color: blue;
}

#autor_materia{
    width: 130px;
    height: 130px;
    margin-top: 10px;    
    margin-left: 10px;
    float: left;
    background-color: white;
}
imgAutor{
    width: 130px;
    height: 130px;
    float: left;
}
#descricaoColunista{
    width: 635px;
    height: 130px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    background-color: red;
}

#descricaoColunista p{
    font-family: arial;
    font-size: 12pt;
    color: #000;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;   
}

#aside1{
    width:285px;
    height: auto;
    float:left;
    margin-top:15px;
    margin-left:20px;
    border:1px solid black;
    
}
.materiaAside2{
    width:270px;
    height: 110px;
    float:left;
    margin-top:20px;
    margin-left:5px;
    border:2px solid #333;
}
.imagemMateriasAside{
    width:270px;
    height: 110px;
    float:left;
    margin-top:-112px;
    margin-left:0px;
}
.textoAsideMateria{
    width:270px;
    height: 110px;
    float:left;
    margin-top:0px;
    margin-left:0px;
}
#aside2{
    width: 305px;
    height: auto;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
    background-color: #fff;    
    box-shadow: 5px 5px 0px 0px #333;
}

#materiasAside{
    width: 285px;
    height: auto;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 20px;
    float: left;
}
#voltarTopo{
    width: 100px;
    height: 60px;
    right: 5px;
    bottom: 5px;   
    position: fixed;
}

#voltarTopo img{
    width: 40px;
    height: 40px;
    margin-top: 0;
    margin-left: 30px;
}

#voltarTopo a{
    width: 100px;
    height: 100px;
    font-family: century gothic;
    font-size: 8pt;
    font-weight: bold;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.subir{
    display: none;
}